{% extends 'base.html' %}
{% load static %}
{% block title %}MH-CET{% endblock title %}
{% block body %}
   <!-- Crousal -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/mhcet.jpg' %}" class="d-block w-100" alt="...">
            {% comment %} <div class="carousel-caption d-none d-md-block">
                <h1>Welcome to Radiance Academy</h1>
                <p>Technology News, Development and Trends</p>

            </div> {% endcomment %}
        </div>
</div>
<br>

<div class="container content-sm" style="padding: 20px 0;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="NEET_title"
                style=" font-size:35px; line-height:30px; margin-bottom:10px; padding-bottom:5px; text-align: center;">MH-CET <span class="color-green">Coaching </span> </h1>
        </div>
    </div>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="headline"
                style=" font-size:25px; line-height:24px; margin-bottom:20px; padding-bottom:5px; text-align: center;">
                <span class="color-green">Classroom Courses</span> <br>
                <span class="sub_content" style="font-size:15px;"><strong>Session:</strong>
                    2022-23</span><br>
                <span class="sub_content"> <strong>Admission Mode :</strong> ASAT / DIRECT / TALLENTEX
                </span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <a href="#"
                class="item_course clearfix">
                <h5 class="col-lg-12"><strong>ENTHUSIAST</strong> <br>
                    <span class="sub_content">Class XI to XII Moving Students <br>
                        (Duration : One Year) </span>
                </h5>
            </a>
        </div>
        <div class="col-sm">
            <a href="#"
                class="item_course clearfix">
                <h5 class="col-lg-12"><strong>NURTURE </strong> <br>
                    <span class="sub_content"> Class X to XI Moving Students <br>
                        (Duration : Two Years)</span>
                </h5>
            </a>
        </div>
    </div>
</div>



<!-- jee detail -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr class="devider devider-db-dashed">
            <div class="row margin-bottom-40 ">
                <div class="col-md-12 col-lg-3 text-center">
                    <p>&nbsp;</p>
                    <h2>Teaching Methodology</h2>
                    <img src="{% static 'img/neet.jpg' %} " class="img-fluid" alt="Pre-Medical Teaching Methodology">

                    <a href="#"
                        class="badge badge-success rounded " role="button"
                        style="margin-bottom:5px; padding: 4px; background: #72c02c;">Session 2022-23</a>
                    <p>&nbsp;</p>
                </div>
                <div class="col-md-12 col-lg-9 ">
                    <p>ALLEN has long been distinguished for the best preparatory courses and results for medical
                        entrance examinations. We prepare students to face entrance examinations successfully by
                        providing a healthy learning environment grounded well in the principles of value based
                        career education, imparting knowledge, infusing positivity and boosting confidence.</p>
                    <p>At ALLEN, we offer methodical coaching and a healthy competitive atmosphere to the
                        pre-medical aspirants through our excellent curriculum and adequate infrastructural
                        facilities. Our team of highly qualified and competent faculties gives quality education to
                        the aspirants lending them a leading edge in the preparation. The motivation that we extend
                        to the aspirants helps them determine their own ability and shows them the path to success.
                    </p>
                    <p>The study material which has been prepared by our well versed faculties after extensive
                        research is comprehensive yet simple to understand. The specially tailored curriculum takes
                        care of board examinations simultaneously. The curriculum is updated every year to keep pace
                        with the fast changing examination pattern. The faculties are a blend of rich academic
                        experience and vast knowledge. The series of periodic test is identical to the pattern of
                        various competitive medical examinations and gives sample practice to the aspirants for the
                        same.</p>
                    <p> In order to get through NEET-UG , right approach, determination and self-belief are very
                        important. Our faculties provide personal guidance to all students equally regardless of
                        their merit at ALLEN. The students have an added advantage of getting their doubts solved
                        individually at our most unique platform the ‘DOUBT COUNTERS’. Our comprehensive reports of
                        periodic tests guide medical aspirants to know their weaknesses so that they try to overcome
                        them; understand their strengths, enhance them </p>
                    <p>and leave no stone unturned to maximize their performance and thus outshine in the actual
                        exams. By being a part of the on-going year round curriculum, the students adapt themselves
                        well to the pattern of paper and succeed in the examination with ease. Besides delivering
                        knowledge we encourage and motivate our students to make most of their abilities.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}